@font-face {
  font-family: fragille;
  src: url("./assets/fonts/Fragille-Reguler.ttf");
}

@font-face {
  font-family: gilroy;
  src: url("./assets/fonts/Gilroy-Light.otf");
}

body {
  margin: 0;
  font-family: gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-fragille {
  font-family: fragille;
}
.font-gilroy {
  font-family: gilroy;
}

.wrapper {
  @apply w-[90%] md:w-[500px] mx-auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
